/* .main {
  background-color: white;
  height: 5rem;
  padding-left: 25px;
  padding-right: 5rem;
  
  display: flex;
  justify-content: space-between;
}
.h-main-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8.5rem;
}
.h-main-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

 .navs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
} 
 .active {
  --tw-text-opacity: 1;
  color: rgb(72 84 96 / var(--tw-text-opacity));
  font-weight: 600;
  text-decoration: none;
  font-size: larger;


}

.active:hover {
    --tw-text-opacity: 1;
    color: rgb(210 33 33 / var(--tw-text-opacity));
    transition: all 0.1s ease-in-out;
    transform: scale(1.05);
  
  } */ 